/* css index 

======================
1 전체 설정
======================
2 include folder
   header - nav - footer
3 enter folder
   login - signUp
4 
5
6
7
8
======================
9 관리자 페이지   admin/admin-include folder
======================
10 사이즈 조정   
*/

/* ========================전체설정============================*/

@import url('https://fonts.googleapis.com/css2?family=Sunflower:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Sunflower', sans-serif;
    font-size: 13px;
    color: #293B25;
    transition: all.8s;
}

input::placeholder { font-size: 80%; text-align: center;}

a { text-decoration:none } /*모든 a태그의 text-decoration 없애기*/

section { padding-top: 140px;} /*header에 가려지지 않게 하기 위해-각 페이지마다 다를 수 있음*/

/* ========================전체설정 여기까지============================*/

/* header ~~*/

header {
    width: 100%;
    background-color: white;
    position: fixed;
}

.headerInner {
    display: flex;
    justify-content: space-between;
    padding: 1% 5%;
}

.mainTitle {
    display: flex;
}

.mainTitle img {
    padding: 5px; /* 마우스클릭 시 선택범위 넓히기 위해 padding으로(margin x)*/
}

.mainTitle p {
    font-size: 15px;
    padding: 20px 5px;
}

.enter p {
    font-size: 13px;
    padding: 20px 5px;
}

.enter p a {
    padding: 3px;
}



/* nav ~~ */

nav {
    height: 50px;
    width: 100%;
    border-top: 0.1px solid gray; 
    border-bottom: 0.1px solid gray; 
    background-color: white;
}

.navInner {
    display: flex;
    justify-content: space-around;
}

.mainMenu ul {
    display: flex;
}

.mainMenu ul li {
    list-style: none;
    padding: 15px 100px;
    font-size: 13px;
    background-color: white;
}

.mainMenu ul li:hover {
    cursor: pointer;
    background-color: #1ABC9C;
    border-radius: 8px; 
    color: whitesmoke;
    font-size: 15px;
    letter-spacing: 3px;
}    

.search form input {
    width: 80%;
    margin: 15px 0;
    border: none;
    border-bottom: gray 1.5px solid;
}

.search form button {
	border: none;
    background-color: white;
    padding-top: 5px;
}

.navToggleBtn {
    display: none;
}



/* footer ~~ */

footer {
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: white;
    border-top: 1px solid gray; /* border은 삭제 할지 미정 */
}

.site {
    width: 100%;
    height: 50px;
}

.site:first-child {
    background-color: #FAF1E6;
}

.site:nth-of-type(2) {
    background-color: #FDFAF6;
}

.site a {
    position: relative;
    top: 30%;
    left: 40%;
    font-size: 15px;
}

.site a:hover {
    text-decoration: underline;
}

.footerUpper {
    display: flex;
    justify-content: space-between;
    padding: 0% 5%;
}

.footerMenu ul {
    display: flex;
}

.footerMenu ul li {
    list-style: none;
    padding: 20px;
    font-size: 13px;
}

.footerMenu ul li:hover {
    cursor: pointer;
    color: palevioletred;
    text-decoration: underline;
}    

.footerLink ul {
    display: flex;
}

.footerLink ul li {
    list-style: none;
    padding: 20px;
}

.footerLink ul li img {
    height: 15px;
    width: 15px;
}

.footerLink ul li img:hover {
    cursor: pointer;
    height: 20px;
    width: 20px;
}

.footerlower {
    text-align: center;
    letter-spacing: 2px;
}

/* login ~~*/

.loginInner {
	 width: 100%;
}

.sectionLogin {
   padding-top: 140px;
   padding-bottom: 140px;
   width: 100%
}

.loginTitle {
    padding: 5% 0% 2% 0%;
    font-size: 25px;
    margin-left: 40%;
    width: 100px;
}

.loginBox {
   height: 300px;
   width: 500px;
   border: 1px solid gray;
   border-radius: 10px;
   margin: 0 30%;
}

.loginBox form { 
   padding-top: 10%;
   padding-left: 18%;
}

.loginBox Input {
    border-radius: 8px;
    width: 80%;
    height: 40px;
    margin : 2% 0%;
    justify-content: center;
}

.loginBoxbtn {
    color: white;
    background-color: #1ABC9C;
    cursor: pointer;
}

.loginBoxLower {
   margin-top : 10px;
   margin-left: 50%;
}

/* signUp~~ */

.sectionSignUp {
	padding: 200px 0;
}

.signUpTitle {
    padding: 20px 0px;
    /* width: 100px; */
    text-align: center;
}

.signUpBox {
   height: 550px;
    width: 580px;
    border: 1px solid gray;
    border-radius: 10px;
    padding: 20px 0 0 0;
    margin: 0 35%;
}

.signUpCommandWrap {
	display: flex;
	justify-content: center;
    /* width: 100%; */
    align-items: center;
}

.signUpCommand p {
    margin: 20px;
    height: 30px;
}

.signUpCommandBox p input {
	border: 1px solid gray;
	border-radius: 8px;
    width: 300px;
    height: 30px;
}

.signUpCommandBox p input:hover {
	border: 1px solid #f7c180;
	transition: all.3s;
}

.signUpTerms {
	display: flex;    
	flex-direction: column;
	text-align: center;
	padding: 20px 0px;
}

.checkbox {
	margin-bottom: 10px;
}

.signUpBoxbtn {
    display: flex;
    justify-content: center;
    margin: 30px 0;
}

.signUpBoxbtn Input {
	color: white;
    background-color: #1ABC9C;
    cursor: pointer;
    border-radius: 8px;
    width: 50%;
    height: 40px;
}

.signUpCommandTitle p strong {
	color: red;
}

/* 체크박스 젤리효과 */

.checkbox input {
	display: none;
}

.checkbox span {
	display: inline-block;
	vertical-align: middle;
	cursor: pointer;
}

.checkbox .icon {
	position: relative;
	width: 17px;
	height: 17px;
	border: 1px solid #c8ccd4;
	border-radius: 3px;
	transition: background 0.1s ease;
}

.checkbox .icon::after{
	content: '';
	position: absolute;
	top: 1px;
	left: 5px;
	width: 5px;
	height: 11px;
	border-right: 2px solid #fff;
	border-bottom: 2px solid #fff;
	transform: rotate(45deg) scale(0);
	transition: all 0.3s ease;
	transition-delay: 0.15s;
	opacity: 0;
}

.checkbox .text {
	margin-left: 5px;
}

.checkbox input:checked ~ .icon {
	border-color: transparent;/*테두리 투명으로 만들기*/
	background: #ff1616;
	animation: jelly 0.6s ease;
}

.checkbox input:checked ~ .icon::after {
	opacity: 1;
	transform: rotate(45deg) scale(1);
}

@keyframes jelly {
	from {transform: scale(1, 1);}
	30% {transform: scale(1.25, 0.75);}
	40% {transform: scale(0.75, 1.25);}
	50% {transform: scale(1.15, 0.85);}
	65% {transform: scale(0.95, 1.05);}
	75% {transform: scale(1.05, 0.95);}
	to {transform: scale(1, 1);}
}

/* 체크박스 젤리효과 */











/* ========================관리자사이트============================*/

/* 어드민 기본 설정 */

.headerAdmin {
    width: 100%;
    background-color: white;
    display: flex;
    justify-content: space-around;
    font-size: 15px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.headerAdmin p img {
    height: 40px;
    width: 40px;
    padding-right: 10px;
}

.adminNav ul{
   display: flex;
}

.adminNav ul li {
    list-style: none;
    padding: 15px 100px;
    font-size: 13px;
    background-color: white;
}

/* 어드민 로그인 페이지 */

.adminLoginTitle {
    padding: 5% 0% 3% 0%;
    font-size: 20px;
    padding-left: 50%;
}

.wrapAdminLogin {
    width: 100%;
    padding-left: 40%;
}

.adminLogin_bx {
   height: 300px;
   width: 500px;
    border: 1px solid gray;
    border-radius: 10px;
}

.adminLogin_bx form { 
   padding-top: 10%;
    padding-left: 18%;
}

.admin_id input, .admin_pwd input, .admin_submit input {
    border-radius: 8px;
    width: 80%;
    height: 40px;
    margin : 2% 0%;
}

.admin_submit input {
    margin-top: 5%;
    color: white;
    background-color: #064420;
}

.admin_submit input:hover {
	cursor: pointer;
}

/* 어드민 로그인 후 메인 페이지 */
.adminMainWrap {
   padding: 20px 0px;
    width: 100%;
    text-align: center;
}

/* ========================관리자사이트 여기까지 ============================*/


/* 사이즈 조정 ~~ */
@media screen and (max-width: 1120px) {
    /* nav 사이즈 조정 설정 */
    .navInner {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .mainMenu, .search {
        display: none;
    }

    .navToggleBtn {
        display: block;
        position: fixed;
        top: 10%;
        right: 40px;
        font-size: 25px;
    }

    .mainMenu ul{
        position: fixed;
        flex-direction: column;
        align-items: center;
        width: 100%;
        
    }
   
    .mainMenu li {
        width: 100%;
        text-align: center;
    }

    .mainMenu.active {
        display: flex;
    }

}

@media screen and (max-width: 1600px) {
	.signUpCommandTitle { /* 회원가입 페이지 사이즈 축소 시 입력창 옆 내용 안보이기 */
		display: none
	}
	
	
}	

@media screen and (max-width: 599px) {

    .footerUpper {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    .footerMenu ul, .footerLink ul {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

/* ~~ 사이즈 조정 */