/* css index 

1 전체 설정
2 include folder
   header - nav - footer
3 enter folder
   login - signUp
4 main
5 board(lost,find) 셋팅
6 lostPage folder
	lostPageList - //
7
8
======================
9 admin-include folder
	header - nav
10 admin folder
	login - main - board - member - q&a // detail 진행중
======================
11 사이즈 조정   
*/

/* index-1 전체설정 */

@import url('https://fonts.googleapis.com/css2?family=Sunflower:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Sunflower', sans-serif;
    font-size: 13px;
    color: #293B25;
    transition: all .8s;
}

input::placeholder { font-size: 80%; text-align: center;}

a { text-decoration:none } /*모든 a태그의 text-decoration 없애기*/

[id*='errors'] { color: #f7c180;} /*에러메세지 주황색 표기*/

ul, li {list-style: none;}

/* .section { padding-top: 120px;} header에 가려지지 않게 하기 위해-각 페이지마다 다를 수 있음 main 기준임 - header fixed 설정 해제로 해당 기능 필요 없음 */


/* ========================= */
/*  index-2 include-header  */

.headerTop {
	display: flex;
	justify-content: flex-end;
	padding: 0 10px 0 0;
	font-size: 13px;
}

header {
    width: 100%;
    background-color: white;
/*     position: fixed; */
    box-shadow: 2px 2px 2px 2px #80808036;
}

.headerInner {
    display: flex;
    justify-content: center;
    padding: 0 0 10px 0;
}

.mainTitle {
    display: flex;
}

.mainTitle p {
    padding: 10px;
}

.enter p {
    font-size: 13px;
    padding: 10px 5px;
}

.enter p a {
    padding: 0px 3px;
    font-size: 10px;
}

.enter p a:hover {
	font-size: 12px;
	background-color: lightgoldenrodyellow;
	transition: all .35s;
}



/* ========================= */
/*  index-2 include-nav  */

nav {
    height: 50px;
    width: 100%;
    border-top: 0.1px solid gray; 
    border-bottom: 0.1px solid gray; 
    background-color: white;
}

.navInner {
    display: flex;
    justify-content: center;
}

.mainMenu ul {
    display: flex;
}

.mainMenu ul li {
    padding: 15px 100px;
    margin: 0px;
    font-size: 12px;
    background-color: white;
}

.mainMenu ul li:hover {
    cursor: pointer;
    background-color: #1ABC9C;
    border-radius: 8px; 
    font-size: 14px;
    letter-spacing: 3px;
}

.mainMenu ul li:hover a {
	color: white;
}

.search form input {
    width: 80%;
    border: none;
    border-bottom: gray 1.5px solid;
}

.search form button {
	border: none;
    background-color: white;
    padding-top: 5px;
}

.search form button img {
	width: 15px; 
	background-color: white;
	padding: 5px 0 0 5px;
}

.search form button img:hover {
	cursor:pointer;
}

.navToggleBtn {
    display: none;
}



/* ========================= */
/* index-2 include-footer */

footer {
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: white;
    border-top: 1px solid gray; /* border은 삭제 할지 미정 */
}

.site {
    width: 100%;
    height: 50px;
}

.site:first-child {
    background-color: #FAF1E6;
}

.site:nth-of-type(2) {
    background-color: #FDFAF6;
}

.site a {
    position: relative;
    top: 30%;
    left: 40%;
    font-size: 15px;
}

.site a:hover {
    text-decoration: underline;
}

.footerUpper {
    display: flex;
    justify-content: space-between;
    padding: 0% 5%;
}

.footerMenu ul {
    display: flex;
}

.footerMenu ul li {
    padding: 20px;
    font-size: 13px;
}

.footerMenu ul li:hover {
    cursor: pointer;
    color: #ed4848;
    text-decoration: underline;
}    

.footerLink ul {
    display: flex;
}

.footerLink ul li {
    padding: 20px;
}

.footerLink ul li img {
    height: 15px;
    width: 15px;
}

.footerLink ul li img:hover {
    cursor: pointer;
    height: 20px;
    width: 20px;
}

.footerlower {
    text-align: center;
    letter-spacing: 2px;
}

/* ========================= */
/*  index-3 enter-login  */

.loginInner {
	 width: 100%;
}

.sectionLogin {
   padding-top: 140px;
   padding-bottom: 140px;
   width: 100%
}

.loginTitle {
    padding: 5% 0% 2% 0%;
    font-size: 25px;
    margin-left: 40%;
    width: 100px;
}

.loginBox {
   height: 300px;
   width: 500px;
   border: 1px solid gray;
   border-radius: 10px;
   margin: 0 35%;
   background-color: #fbfbfb7d;
   border: 1px solid #dcdcdc;
   box-shadow: 2px 3px 5px 0px #cccccc;
}

.loginBox:hover {
	border: 1px solid gray;
	transition: all.3s;
}

.loginBox form { 
   padding-top: 10%;
   padding-left: 18%;
}

.loginBox Input {
    border-radius: 8px;
    width: 80%;
    height: 40px;
    margin : 2% 0%;
    justify-content: center;
    border: #cecece 1px solid;
}

.loginBox Input:hover {
	border: 1px solid gray;
	transition: all.3s;
}

.loginBoxbtn {
    color: white;
    background-color: #1ABC9C;
    cursor: pointer;
    border: 1px solid #dcdcdc;
    box-shadow: 2px 3px 5px 0px #cccccc;
}

.loginBoxLower {
   padding-top : 20px;
   padding-left: 50%;
}

.loginBoxLowerText:hover{
	font-size: 15px;
	background-color: lightgoldenrodyellow;
}


/* ========================= */
/*  index-3 enter-signup  */

.sectionSignUp {
	padding: 50px 0;
}

.signUpTitle {
    padding: 20px 0px;
    /* width: 100px; */
    text-align: center;
}

.signUpBox {
   height: 550px;
    width: 580px;
    border: 1px solid gray;
    border-radius: 10px;
    padding: 20px 0 0 0;
    margin: 0 35%;
    background-color: #fbfbfb7d;
    border: 1px solid #dcdcdc;
    box-shadow: 2px 3px 5px 0px #cccccc;
}

.signUpCommandWrap {
	display: flex;
	justify-content: center;
    /* width: 100%; */
    align-items: center;
}

.signUpCommand p {
    margin: 20px;
    height: 30px;
}

.signUpCommandBox p input {
	border: 1px solid gray;
	border-radius: 8px;
    width: 300px;
    height: 30px;
}

.signUpCommandBox p input:hover {
	border: 1px solid #f7c180;
	transition: all.3s;
}

.signUpTerms {
	display: flex;    
	flex-direction: column;
	text-align: center;
	padding: 20px 0px;
}

.checkbox {
	margin-bottom: 10px;
}

.signUpBoxbtn {
    display: flex;
    justify-content: center;
    margin: 30px 0;
}

.signUpBoxbtn Input {
	color: white;
    background-color: #1ABC9C;
    cursor: pointer;
    border-radius: 8px;
    width: 50%;
    height: 40px;
    border: 1px solid #dcdcdc;
    box-shadow: 2px 3px 5px 0px #cccccc;
}

.signUpBoxbtn Input:hover {
	border: 1px solid gray;
	transition: all.3s;
}

.signUpCommandTitle p strong {
	color: red;
}

/* -- 체크박스 젤리효과 -- */

.checkbox input {
	display: none;
}

.checkbox span {
	display: inline-block;
	vertical-align: middle;
	cursor: pointer;
}

.checkbox .icon {
	position: relative;
	width: 17px;
	height: 17px;
	border: 1px solid #c8ccd4;
	border-radius: 3px;
	transition: background 0.1s ease;
}

.checkbox .icon::after{
	content: '';
	position: absolute;
	top: 1px;
	left: 5px;
	width: 5px;
	height: 11px;
	border-right: 2px solid #fff;
	border-bottom: 2px solid #fff;
	transform: rotate(45deg) scale(0);
	transition: all 0.3s ease;
	transition-delay: 0.15s;
	opacity: 0;
}

.checkbox .text {
	margin: 0 10px;
}

.checkbox input:checked ~ .icon {
	border-color: transparent;/*테두리 투명으로 만들기*/
	background: #ff1616;
	animation: jelly 0.6s ease;
}

.checkbox input:checked ~ .icon::after {
	opacity: 1;
	transform: rotate(45deg) scale(1);
}

@keyframes jelly {
	from {transform: scale(1, 1);}
	30% {transform: scale(1.25, 0.75);}
	40% {transform: scale(0.75, 1.25);}
	50% {transform: scale(1.15, 0.85);}
	65% {transform: scale(0.95, 1.05);}
	75% {transform: scale(1.05, 0.95);}
	to {transform: scale(1, 1);}
}

/* -- 체크박스 젤리효과 -- */


/* ========================= */
/* index-4 main */

.banner img {
	width: 100%;
	box-shadow: 2px 2px 2px 2px #80808036;
}

.mainSection  {
    text-align: center;
}

.mainContentsWrap ul {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
}

.mainLost {
	padding: 10px 0 0 0;
	background-color: #fdfaf624;
    box-shadow: 3px 3px 3px 3px #80808036;
}

.mainLost p {
    padding: 40px 0;
}

.mainMore {
    padding: 20px 0;
}

.mainReview {
	margin-top: 50px;
}

.titleLine {
	display: inline-flex;
    width: 50px;
    border-bottom: 1px solid #ee6260;
}

.contentsTitle {
	padding: 10px 0 0 0;
    text-align: center;
    letter-spacing: 3px;
}


/* -- 베너 슬라이드 효과 -- */
[name="slide"] {display: none;} /* 인풋 안보이게 */

.slidebox {
    max-width: 2000px;
    width: 100%;
    margin: 0 auto;
}

.slidebox img {
    max-width: 100%;
    cursor: pointer;
}

.slidebox, .slidelist {
    white-space: nowrap;
    font-size: 0;
    overflow: hidden;
}

.slidebox .slideitem {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    width: 100%;
    transition: all .35s;
}

 .slidebox .slideitem label {
    position: absolute;
    z-index: 1;
    top: 50%;
    transform: translateY(-50%);
    padding: 20px;
    border-radius: 50%;
    cursor: pointer;
} 

 label.left {
    left: 20px;
/*     background-image: url('../img/left-arrow.png'); */
    background-position: center center;
    background-size: 50%;
    background-repeat: no-repeat;
}

label.right {
    right: 20px;
/*     background-image: url('../img/right-arrow.png'); */
    background-position: center center;
    background-size: 50%;
    background-repeat: no-repeat;
} 

[id="slide01"]:checked ~ .slidelist .slideitem {transform: translateX(0); animation: slide01 10s infinite;}
[id="slide02"]:checked ~ .slidelist .slideitem {transform: translateX(-100%); animation: slide02 10s infinite;}
[id="slide03"]:checked ~ .slidelist .slideitem {transform: translateX(-200%); animation: slide03 10s infinite;}
[id="slide04"]:checked ~ .slidelist .slideitem {transform: translateX(-300%); animation: slide04 10s infinite;}


@keyframes slide01 {
    0% {left: 0%;}
    23% {left: 0%;}
    25% {left: -100%;}
    48% {left: -100%;}
    50% {left: -200%;}
    73% {left: -200%;}
    75% {left: -300%;}
    98% {left: -300%;}
    100% {left: 0%;}
}

@keyframes slide02 {
    0% {left: 0%;}
    23% {left: 0%;}
    25% {left: -100%;}
    48% {left: -100%;}
    50% {left: -200%;}
    73% {left: -200%;}
    75% {left: 100%;}
    98% {left: 100%;}
    100% {left: 0%;}
}

@keyframes slide03 {
    0% {left: 0%;}
    23% {left: 0%;}
    25% {left: -100%;}
    48% {left: -100%;}
    50% {left: 200%;}
    73% {left: 200%;}
    75% {left: 100%;}
    98% {left: 100%;}
    100% {left: 0%;}
}

@keyframes slide04 {
    0% {left: 0%;}
    23% {left: 0%;}
    25% {left: 300%;}
    48% {left: 300%;}
    50% {left: 200%;}
    73% {left: 200%;}
    75% {left: 100%;}
    98% {left: 100%;}
    100% {left: 0%;}
} 
/* -- 베너 슬라이드 효과 -- */

/* -- 메인 글 크기, 위치 셋팅 -- */
.mainContentsWrap ul li {
	width: 200px;
    height: 250px;
    border-radius: 8px;
    overflow: hidden;
}
 
.mainContentsWrap ul li button, 
.mainContentsWrap ul li button img,
.mainContentsWrap ul li button span {
    width: 100%;
    height: 100%;
}

.mainContentsWrap ul  li{
    margin: 15px;
    box-shadow: 2px 2px 2px 2px #80808036;
} 

.mainContentsWrap ul li button, 
.mainContentsWrap ul li button img,
.mainContentsWrap ul li button span { 
	border: none;
}

.mainContentsWrap ul li button {
    position: relative;
    left: 0;
}

.mainContentsWrap ul li button span, .mainContentsWrap ul li button span p{
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%; 
    height: 100%;
}

.mainContentsWrap ul li button span p {
	padding: 20px;
    opacity: 0;
    line-height: 25px; /* 마우스 올렸을때 보이는 내용 글씨 상하 간격 - 내용 많을 시 다시 조정 하기*/
}

.mainContentsWrap ul li button:hover p{
	cursor:pointer;
	border-radius: 8px;
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    opacity: 1;
} 

.jellybutton {
	width: 80px;
	color: #ed4848;
    font-size: 15px;
    cursor: pointer;
    position: fixed;
    right: 100px;
    top: 600px;
    padding: 10px;
    background: none;
    border-radius: 50px;
    border: 1px solid whitesmoke;
}

.jellybutton:hover {
    animation: jelly 0.6s ease;
    border: 1px solid #ed4848;
}

.writebtn {
	top: 550px; /* jellybtn 변경시 -50px 같이 변경 해야해서 여기로 배치 */
}


/* -- 메인 글 크기, 위치 셋팅 -- */


/* -- more 버튼 효과 설정 -- */
.btn {
    background: none;
    border: none;
    border-bottom: 2px solid whitesmoke;
    font-size: 15px;
    color: #ed4848;
    padding: 10px 20px;
    width: 150px;
    cursor: pointer;
    position: relative;
}

.btn-swap span {
    position: absolute;
    top: 0;
    left: 0;
    padding: 13px 20px;
    width: 100%;
    opacity: 0;
    transition: opacity 0.5s;
}

.btn-swap:hover span{
    opacity: 1;
    color: white;
}

.btn-swap::before {
    content: '';
    width: 0%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background-color: #ed4848;
    border-radius: 8px;
}

.btn-swap:hover::before {
    width: 100%;
    transition: width 0.5s;

}

/* -- more 버튼 효과 설정 -- */


/* ========================= */
/* index-5 board(lost,find) 셋팅 찾아주세요, 찾아가세요 리스트 페이지 공통 적용 사항 */

#contentsTitle {
	text-align: -webkit-center;
	margin: 30px 0 10px 0;
}

.wrapBoardlist {
	width: 100%;
/*     border-top: 1px solid whitesmoke;  */
}

.wrapBoardlist ul {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	width: 100%;
	border-radius: 10px;
	padding: 15px;
}

.wrapBoardlist ul li {
	margin: 10px;
    padding: 10px;
    border-radius: 10px;
}

.wrapBoardlist ul li:hover {
    border: 1px solid yellow;
    box-shadow: 5px 5px 5px 5px #f1e8e8;
}

.wrapBoardlist ul li:hover .post-photo-top {
	width: 205px;
	height: 255px;
}

.post-photo-top { 
	box-shadow: 2px 2px 2px 2px #80808036;
	width: 200px;
	height: 250px;
	border-radius: 10px;
}

.post-contents-bottom div {
	padding-top: 10px;
	text-align: center;
}

.gratuity {
	color: #ed4848;
}






/* ========================= */
/* index-9 admin-include folder */

.headerAdmin {
    width: 100%;
    background-color: white;
    display: flex;
    justify-content: space-around;
    font-size: 15px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.headerAdmin p img {
    height: 40px;
    width: 40px;
    padding-right: 10px;
}

.adminNav ul{
   display: flex;
}

.adminNav ul li {
    padding: 15px 100px;
    font-size: 13px;
    background-color: white;
}

.adminNav ul li:hover {
	cursor: pointer;
	background-color: yellow;
	color: navy;
	border-radius: 10px;
}


/* index-10 admin folder */

.adminLoginTitle {
    padding: 5% 0% 3% 0%;
    font-size: 20px;
    padding-left: 50%;
}

.wrapAdminLogin {
    width: 100%;
    padding-left: 40%;
}

.adminLogin_bx {
   height: 300px;
   width: 500px;
    border: 1px solid gray;
    border-radius: 10px;
}

.adminLogin_bx form { 
   padding-top: 10%;
    padding-left: 18%;
}

.admin_id input, .admin_pwd input, .admin_submit input {
    border-radius: 8px;
    width: 80%;
    height: 40px;
    margin : 2% 0%;
}

.admin_submit input {
    margin-top: 5%;
    color: white;
    background-color: #064420;
}

.admin_submit input:hover {
	cursor: pointer;
}

/* ========================= */
/* 어드민 로그인 후 메인 페이지 */
.adminMainWrap { /*공지사항*/
   padding: 20px 0px;
   width: 100%;
   text-align: center;
}

.wrapAdminLogin {
    width: 100%;
    padding-left: 40%;
}

.adminLogin_bx {
	height: 300px;
	width: 500px;
    border: 1px solid black;
    border-radius: 10px;
}

.line{
    width: 1px;
    height: 800px;
    border-left: 1px solid gray ;
}

.adminWrap {
    margin: 10px 0;
    display: flex;
    justify-content: flex-start;
}

.left {
    width: 200px;
    text-align: center;
}

.left div:first-child{
    border-bottom: 1px solid gray;
    height: 50px;
    line-height: 40px;
}

.adminTitle{
    font-size: 20px;
}

.left div:not(.left div:first-child) {
    margin: 20px 0;
    padding: 20px 0;
}

.left div:not(.left div:first-child):hover {
	cursor: pointer;
	background-color: yellow;
	border-radius: 10px;
}

.right {
    width: 100%;
}

.right div p input {
	border-radius: 5px;
	border: 1px gray solid;
	position: absolute;
	right: 60px;
	top: 155px;
}

.right div p img {
	position: absolute;
	right: 40px;
	top: 155px;
}
	
.right div:first-child{
    border-bottom: 1px solid gray;
    height: 50px;
    line-height: 40px;
    font-size: 15px;
    padding-left: 20px;
}

.right div:not(.right div:first-child) {/*날짜, 선택란 부분*/
    padding: 10px 0px;
}

.right div input {
    margin: 0 20px;
}

.right div label {
	cursor: pointer;
}

.adminContents {
	padding: 20px 0;
    text-align: center;
    width: 100%;
 	border-bottom: 1px solid gray;
}

.paging {
	text-align: center;
}

.adminContents tbody tr td {
	padding: 15px 0;
}

.adminContentsListTitle td {
	border-bottom: 1px solid #c0c0c0;
    font-size: 15px;
}




/* ========================= */
/* index-10 사이즈 조정 */

@media screen and (max-width: 1120px) {
    /* nav 사이즈 조정 설정 */
    .navInner {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .mainMenu, .search {
        display: none;
    }

    .navToggleBtn {
        display: block;
        position: absolute;
        top: 95px;
        right: 40px;
        z-index: 1;
    }

    .mainMenu ul{
        position: absolute;
        flex-direction: column;
        align-items: center;
        width: 100%;
        z-index: 1;
    }
   
    .mainMenu li {
        width: 100%;
        text-align: center;
    }

    .mainMenu.active {
        display: flex;
    }
    
    .fas { /*햄버거 크기조정*/
    font-size: 25px;
}
    

}

@media screen and (max-width: 1600px) {
	.signUpCommandTitle { /* 회원가입 페이지 사이즈 축소 시 입력창 옆 내용 안보이기 */
		display: none
	}
	
	
}	

@media screen and (max-width: 599px) {

    .footerUpper {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    .footerMenu ul, .footerLink ul {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

/* ~~ 사이즈 조정 */